body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
    padding: 20px 0;
    text-transform: uppercase;
}

#colorDisplay {
    font-size: 200%;
}


#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}


button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    outline: none;
}

button:hover{
    background-color: steelblue;
    color: white;
    transition: all .5s;
}



.selected {
    background-color: steelblue;
    color: white;
}

#message {
    width: 20%;
    display: inline-block;
}


#container {
    margin: 50px auto;
    max-width: 600px;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float:left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background .4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
